<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ISS Live Tracker</title>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<h2>🛰 International Space Station Live Tracker</h2>
<div id="map"></div>
<div id="info-bar">
    <span id="last-update">Last update: ...</span>
    <span id="local-time">Local time: ...</span>
    <span id="iss-location">Location: ...</span>
    <button id="follow-btn">Follow ISS: ON</button>
</div>


<script src="{{ url_for('static', filename='js/tracker.js') }}"></script>
</body>
</html>
